.details-card{
    height: 100% !important;
    min-height: 45em;
}

.bg-lightblue{
    background-color: #e9edf3;
}

.descriptions-container{
    line-height: 1.2em;
    background-color: transparent !important;
}

table tr td, table tr th{
    background-color: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card-img-top:hover{
    cursor: pointer;
}

.popup-overlay {
    padding: 20px;
    position: fixed;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 70%;
    background: white;
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
}